<%- include("partials/header") %>
<body>
    <div>
        <legend>Supplies</legend>
        <table>
            <thead>
                <th>ID</th>
                <th>Name of Supply</th>
                <th>In Stock?</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <% supplies.forEach(function(item) { %>
                <tr>
                    <td> <%= item.supply_id %> </td>
                    <td> <%= item.supply_name %> </td>
                    <% if (item.in_stock === 1) { %>
                        <td>YES</td>
                    <% } else {%>
                        <td>NO</td>
                    <% } %>
                    <td><form action="/supplies/edit/<%=item.supply_id%>" method="GET">
                        <button type="submit">EDIT</button>
                        </form>
                    </td>
                    <td><form action="/supplies/delete/<%=item.supply_id%>?_method=DELETE" method="POST">
                        <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </table>
    </div>
    <div>
        <form action="/supplies" method="post">
            <fieldset>
                <legend>Add Supply Item</legend>
                Supply Name: <input type="text" name="supply_name"><br>
                In Stock?: <br>
                <input type="radio" name="in_stock" value="1">In Stock <br>
                <input type="radio" name="in_stock" value="0">Out of Stock<br>
                <input type="submit" value="Add Supply">
            </fieldset>
         </form><br>
    </div>

<%- include("partials/footer") %>