<%- include("partials/header") %>

<body>
    <h1>Detailed Zoo Keepers Page</h1>
    <table>
        <legend>JavaScript will fill this table with all zookeepers in the database</legend>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Supervisor</th>
            <th>OnShift Status</th>
        </thead>
        <% zookeepers.forEach(function(employee) { %>
            <tr>
                <td> <%= employee.zookeeper_id %> </td>
                <td> <%= employee.first_name + " " + employee.last_name %> </td>
                <td> <%= employee.phone_number %> </td>
                <td> <%= employee.supervisor %> </td>
                <td> <%= employee.onshift_status %> </td>
            </tr>
        <% }); %>
        
    </table>
<%- include("partials/footer") %>