<%- include("partials/header") %>

<body>
    <h1>Zoo Keepers</h1>
    <table>
        <legend>JavaScript will fill this table with all zookeepers in the database</legend>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Supervisor</th>
            <th>OnShift?</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <% zookeepers.forEach(function(employee) { %>
            <tr>
                <td> <%= employee.zookeeper_id %> </td>
                <td> <%= employee.first_name + " " + employee.last_name %> </td>
                <td> <%= employee.phone_number %> </td>
                <td> <%= employee.supervisor %> </td>
                <% if (employee.onshift_status === 1) { %>
                    <td>YES</td>
                <% } else {%>
                    <td>NO</td>
                <% } %>
                <td><button class="editZookeeper" type="submit">Edit</button></td>
                <td><button onclick="deleteZookeeper(<%= employee.zookeeper_id %>)">Delete</button></td>
            </tr>
        <% }); %>
    </table><br>
    <h3>Add New Zookeeper</h3>
    <form id="addZookeeper" action="/zookeepers" method="post">
        First Name: <input type="text" name="fname"><br>
        Last Name: <input type="text" name="lname"><br>
        Phone Number: <input type="number" name="phoneNumber"><br>
        Supervisor: <input type="text" name="supervisor"><br>
        <input type="submit" value="Add New Zookeeper">
     </form><br>
<%- include("partials/footer") %>